*, *::after, *::before{
    font-family: 'Inter', sans-serif;
}


.App {
    position: relative;
    background-color: rgb(236, 239, 243);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}
.site-menu{
    position: absolute;
    width: 275px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: 0.2s;

    @media (max-width: 1200px) {
        &{
            display: none;
            transition: 0.2s;
        }
    }
}

.site-mean{
    position: absolute;
    width: calc(100% - 275px);
    height: 100vh;
    transition: 0.5s;
    top: 0;
    right: 0;

    @media (max-width: 1200px) {
        &{
            width: 100%;
            transition: 0.5s;
            padding-left: 12px;
        }
    }
}