*, *::after, *::before{
    font-family: 'Inter', sans-serif;
}


.App {
    background-color: rgb(236, 239, 243);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.site-menu{
    position: fixed;
    width: 275px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: 0.2s;
    
    @media (max-width: 1200px) {
        &{
            display: none;
            transition: 0.2s;
        }
    }
}
.site-menu-none{
    display: none;
}


.site-mean{
    position: relative;
    width: calc(100% - 275px);
    transition: 0.5s;
    top: 0;
    right: -275px;
    background-color: rgb(236, 239, 243);
    
    @media (max-width: 1200px) {
        &{
            width: 100%;
            transition: 0.5s;
            padding-left: 12px;
            right: 0;
        }
    }
}
.site-mean-none{
    width: 100%;
    transition: 0.5s;
    padding-left: 12px;
    right: 0;
}
